body {
    font-family: Arial, sans-serif;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 1000px;
    border: 1px solid black;
    padding: 20px;
    background-color: #f5f5f5;
    display: flex;
    align-items: start; /* вирівнює елементи по верхньому краю */
}

.settings{
    flex: 1; 
    text-align: center;

}

.header {
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
    gap: 20px; /* відстань між елементами */
    
}

#gameCanvas {
    flex: 2;
    justify-content: center;
    display: block;
    margin: 20px auto;
    border: 1px solid black;
    
}

.settings {
    text-align: left;  /* вирівнює текст по лівому краю */
    margin-bottom: 20px;
}

.settings div {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.controls {
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(3, 50px);
    gap: 0px;
    place-items: center;
    flex: 2;
    margin-top: 500px;
    
    
}

button {
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border: 1px solid #ccc;
    background-color: #f5f5f5;
}

#left {
    grid-column: 1/2;
    grid-row: 2/3;
}

#up {
    grid-column: 2/3;
    grid-row: 1/2;
}

#down {
    grid-column: 2/3;
    grid-row: 3/4;
}

#right {
    grid-column: 3/4;
    grid-row: 2/3;
}

label {
    display: flex;
    align-items: center;
}

label input[type="radio"] {
    width: 20px;  /* фіксована ширина для радіо-кнопок */
    margin-right: 10px;  /* додайте відступ з права від радіо-кнопки до тексту */
}

label span {
    text-align: left;  /* вирівнює текст по лівому краю */
}


.radio-option {

    align-items: center;  /* це вирівнює елементи по вертикалі */
    display: inline-block;
    margin-right: 15px; /* відстань між окремими опціями */
}

.radio-option input {
    margin-right: 5px;  /* відстань між радіо-кнопкою і текстом */
}



